NEXT_PUBLIC_SUPABASE_URL=http://supabasekong-qklfy5uw0im7b1pdueog6p26.31.97.47.35.sslip.io
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=myQ2mZloHR1W3NgoCzKdJVBRMuCZYDNb
SUPABASE_SECRET_KEY=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJzdXBhYmFzZSIsImlhdCI6MTc3ODIzNTY2MCwiZXhwIjo0OTMzOTA5MjYwLCJyb2xlIjoic2VydmljZV9yb2xlIn0.nU-Hx3H2v8s_78oIz7tJUszusy6GJIcuFO9DB8G0bLI
NEXT_PUBLIC_API_BASE_URL=http://localhost:3003